@use "../../presets/index" as *;
@use "../../mixins/index" as *;

.header-content {
  position: relative;
  z-index: 1;
  top: 0;

  .header-content__container {
    @extend %container;
  }

  .header-content__title {
    margin: 0 0 53px;

    text-align: center;
  }

  .header-content__link {
    display: flex;
    justify-content: center;

    gap: $gap;
  }
}
