@use "../../presets/index" as *;
@use "../../mixins/index" as *;

.header-menu {
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  left: 0;

  .header-menu__container {
    display: flex;
    align-items: center;

    @extend %container;
    gap: $gap;
  }
}
